<nav class="site-nav hide" #menu>
    <span class="hamburger" (click)="toggleMenu()">&#9776;</span>
    <ul>
        <li>
            <a routerLink="/home" routerLinkActive="active-link">Home</a>
        </li>

        <li *ngIf="(isLogged$ | async)">
            <a routerLink="/{{ getRole() }}" routerLinkActive="active-link">Dashboard</a>
        </li>

        <li *ngIf="!(isLogged$ | async)">
            <a routerLink="/signin" routerLinkActive="active-link">Login</a>
        </li>

        <li *ngIf="(isLogged$ | async)">
            <a (click)="logout()">Logout</a>
        </li>
    </ul>
</nav>