<div class="manage-entity-container">
    <router-outlet></router-outlet>

    <div class="edit-panel">

        <div class="flex-fill">
            <input type="text" [(ngModel)]="query" class="search-box" placeholder="Search coupons">
        </div>

        <div class="btns-wrapper">
            <button *ngIf="selectedCoupon" [class.btn]="selectedCoupon"
                (click)="remove(selectedCoupon)">Remove&nbsp;Purchase</button>
        </div>
    </div>

    <div *ngIf="coupons">

        <div *ngFor="let coupon of coupons | search:query; let i = index"
            [class.selected-entity]="coupon === selectedCoupon">
            <app-coupon-details [coupon]="coupon" [index]="i" [showAmount]="false" [showCompany]="true"
                (click)="select(coupon)"></app-coupon-details>
        </div>

    </div>

</div>