:root {
	// --main-color: #b95dcc;
	--main-color: #07a166;

	--main-bg-color: #fafafa;
	--alter-bg-color: #f6f6f6;

	--form-text-color: #757575;

	--form-btn-text-color: #ffffff;
	// --form-btn-hover-color: #d884e9;
	--form-btn-hover-color: #40c778;
	--form-btn-disabled-color: #808080;

	--input-bg-color: #dcdcdc;

	--link-color: #000000;
	--link-hover-color: #808080;

	--hr-color: #d3d3d3;

	--error-color: #a04545;
}
