.container {
	width: 100%;
	height: 100%;
	text-align: center;

	strong {
		text-align: center;
		font-size: 3rem;
	}

	.spinner {
		position: relative;
		width: 40vh;
		height: 40vh;
		background-color: var(--main-color);
		z-index: 10;
		margin: 0 auto;
		top: 8%;
		left: 0;
		animation: roll 10s infinite;
	}

	@keyframes roll {
		0% {
			transform: rotate(0);
		}
		100% {
			transform: rotate(720deg);
		}
	}
}
