.snack {
  margin-top: 100px !important;
  border-radius: 0 !important;
  background: var(--input-bg-color) !important;
  color: var(--link-color) !important;
  box-shadow: 2px 3px 1px 1px var(--link-hover-color) !important;
}

.snack button {
  color: var(--main-color) !important;
}
